#footer {
  .center-block {
    position: fixed;
    bottom: 0;
    text-align: center;
    background: $vellum;
    width: 100%;
    padding-top: .8em;
    padding-bottom: .4em;

    p {
      @include helv;
      font-size: .9em;
      color: $grey-md-dk;
      margin-top: 0em;

      span {
        color: $grey-md;
        margin-right: .1em;
      }
    }
  }
}
