* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html, body { height: 100%; }

body {
  margin: 0;
  padding: 0;
  text-align: center;
  background: $grey-dk;
  height: 100%;

  .main {
    text-align: left;
    max-width: 1100px;
    background: $brown-lt;
    padding: 90px 1em 4em 1em;
    min-height: 100%;

    @media (min-width: $screen-sm-min) {
      & {
        padding-left: 2em;
        padding-right: 2em;
        padding-top: 100px;
      }
    }

    @media (min-width: $screen-md-min) {
      & {
        padding-left: 3em;
        padding-right: 3em;
      }
    }
  }

}

p, li {
  @include pitch;
  font-size: 1.1em;
}

p {
  line-height: 1.5;
}

blockquote {
  p {
    font-size: 1em;
    color: $grey;
  }
}

h1,h2,h3,h4 {
  @include helv;
}

h1 {
  font-size: 30px;
}

a, a:visited {
  color: $grey;

  &:hover, &:active {
    color: $grey-md-lt;
    text-decoration: none;
  }
}

em, blockquote {
  font-style: italic;
}

.caption {
  @include helv;
  font-size: .9em;
  margin-top: 2em;
  margin-bottom: 1.5em;

  img {
    margin-bottom: .4em;
  }
}
