::selection{
  background: #333;
  color: #fff;
  text-shadow: none;
}
::-moz-selection{
  background: #333;
  color: #fff;
  text-shadow: none;
}
::-webkit-selection{
  background: #333;
  color: #fff;
  text-shadow: none;
}

.center-block {
  float: none;
}

.bleed {
  width: 100%;
}

.ctr {
  text-align: center;
}

.pg {
  @include helv;
  font-size: 1.3em;
}

.left {
  float: left;

  &.pg {
    margin-top: -1.8em;

    a:before {
      content: "« "
    }
  }
}

.right {
  float: right;

  &.pg {
    margin-top: -1.8em;

    a:after {
      content: " »"
    }
  }
}
