$xsm : 480px;
$sm  : 768px;
$med : 992px;
$lg  : 1200px;

$grey: #6d6d68;
$grey-md: #bdc2c0;
$grey-md-lt: #d6d7d4;
/*$grey-md-lt: #dadede;*/
$grey-lt: #d6d7d4;
$grey-dk: #212722;
$brown: #A9A08E;
$brown-lt: #cecbc5;
$red: #B92713;
$vellum: rgba(255, 255, 255, 0.8);
