$grey: #6d6d68;
$grey-md: #bdc2c0;
$grey-md-lt: #d6d7d4;
$grey-md-dk: #5c574d;
$grey-lt: #d6d7d4;
$grey-dk: #212722;
$brown: #605849;
$brown-lt: #cecbc5;
$red: #B92713;
$vellum: rgba(249, 249, 247, 0.8);
